<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPoker" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Poker/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPoker"
                contract="WcfPokerReference.IPoker" name="BasicHttpBinding_IPoker" />
        </client>
    </system.serviceModel>
</configuration>